# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

# Gradle
.gradle/
**/caches/
**/wrapper/
**/*.jar
**/generated-gradle-jars/

# IDE / OS
.idea/
*.iml
*.log
*.lock
*.DS_Store
*.vscode/

# Output
*.apk
*.aar
*.ipa
